doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      link(href="./stylesheets/style.css" rel="stylesheet")
      link(href="../node_modules/normalize.css/normalize.css" rel="stylesheet")

      title Learning SCSS
   body

      .buttons-wrapper
         button.btn.btn-lg.btn-primary button large
         button.btn.btn-md.btn-primary button medium
         button.btn.btn-sm.btn-primary button small

         br
         br

         button.btn.btn-md.btn-primary primary
         button.btn.btn-md.btn-secondary secondary
         button.btn.btn-md.btn-success success
         button.btn.btn-md.btn-warning warning
         button.btn.btn-md.btn-danger danger
         button.btn.btn-md.btn-danger(disabled) danger

         br
         br

         button.btn.btn-md.btn-outline.btn-primary primary
         button.btn.btn-md.btn-outline.btn-secondary secondary
         button.btn.btn-md.btn-outline.btn-success success
         button.btn.btn-md.btn-outline.btn-warning warning
         button.btn.btn-md.btn-outline.btn-danger danger
         button.btn.btn-md.btn-outline.btn-primary(disabled) disabled





