doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      link(href="./stylesheets/style.css" rel="stylesheet")
      link(href="../node_modules/normalize.css/normalize.css" rel="stylesheet")

      title Learning SCSS
   body


      ul.files
         li.icon-pdf
         li.icon-doc
         li.icon-xls
         li.icon-jpg
         li.icon-psd


