doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      link(href="./stylesheets/style.css" rel="stylesheet")

      title Learning SCSS
   body

      p.red-text this is a red text
      p.blue-text this is a blue text
      p.green-text this is a green text

      hr
      br

      article.post
         header.post-header
            h4.title
               a(href="#") post title
         figure.img-wrapper
            a(href="#")
               img(src="https://picsum.photos/400/300" alt="")
         .post-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequuntur corporis dolor earum eligendi eos fugiat laboriosam, modi necessitatibus nihil numquam odio quaerat recusandae sint suscipit veniam voluptas. Architecto, facere?

         footer.post-details
            span 45 visit
            span 22 october



