doctype html
html(lang="en" dir="rtl")
   head
      meta(charset="UTF-8")
      link(href="./stylesheets/style.css" rel="stylesheet")
      link(href="../node_modules/normalize.css/normalize.css" rel="stylesheet")

      title Learning SCSS
   body

      h1.site-title site title is here
      p.site-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto esse hic, illo neque nostrum quas recusandae sapiente sed voluptas voluptatem. Aperiam culpa dicta hic, nesciunt pariatur perferendis. Quo.

      br

      button.btn.btn-primary.btn-md.test-button test button



