extends partials/_layout
block main
   .container
      .row.mb-5.gx-5
         .col-xxl-3.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
            .col-box.bg-secondary col 1
         .col-xxl-3.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
            .col-box.bg-secondary col 2
         .col-xxl-3.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
            .col-box.bg-secondary col 1
         .col-xxl-3.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
            .col-box.bg-secondary col 2

      .row.justify-content-lg-between.justify-content-md-center
         .col-xxl-3.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
            .col-box.bg-dark col 1
         .col-xxl-3.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
            .col-box.bg-dark col 2
         .col-xxl-3.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
            .col-box.bg-dark col 1

      .row.row-cols-1.row-cols-sm-2.row-cols-md-4.mb-5
         .col
            .col-box.bg-info Column
         .col
            .col-box.bg-info Column
         .col
            .col-box.bg-info Column
         .col
            .col-box.bg-info Column



