@import "variables";
@import "mixins";
@import "buttons";

html, body {
	font-family: tahoma;
	font-size: 16px;
	line-height: 1.6;
	background: #FFF;
}
a {
	color: #333;
	text-decoration: none;
}

.transition300 {
	transition: all 300ms;
}