@import "general";
@import "home";
@import "posts";

.box {
	background: lighten($gray, 15%);
	border: 1px solid $gray;
	min-height: 100px;
	margin: $gap auto;
	@include brRadius();
}

.box1 {
	@extend .box;
	width: 300px;
}

.box2 {
	@extend .box;
	width: 500px;
	min-height: 180px;
}

.buttons-wrapper {
	margin: 50px;

	.btn {
		margin: 0 10px;
	}
}

$fileIcons: pdf doc xls jpg psd;
.files {
	margin: 0;
	padding: 0;
	display: flex;

	li {
		list-style-type: none;
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-size: contain;
	}

	@each $icon in $fileIcons {
		li.icon-#{$icon} {
			background-image: url("./images/icon-#{$icon}.png");
		}
	}

} // .files

.site-title {
	@include ltrRtl(text-align, left, right);
}
.site-description {
	@include ltrRtl(text-align, left, right);
}
.test-button {
	@include ltrRtl(float, right, left);
}